@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
.search-box {
    width: 24rem; /* 96px */
    height: 5rem; /* 20px */
    background-color: var(--witheCustom);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 1.25rem;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out,
        visibility 0s linear 0.3s;
}

.search-box.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out,
        visibility 0s linear;
}
